@if (!Albums) {
    <p>No hay albums</p>
}@else{
    <div class="row">
        <div class="col-12 pt-2">
            <hr>
            <div class="row">
                @for (item of Albums.items; track $index) {
                    
                            <div class="col-md-3 col-sm-6">
                                <div class="card mb-2 mr-2 ml-2 text-center"  style="background-color: #101214;" >
                                    <div class="square-container">
                                    @if (item.images.length === 0) {
                                        
                                            <img class="card-img-top rounded-circle img-fluid" src="..\..\..\..\assets\rings.svg" alt="Card image">
                                          
                                          }
                                    @else{  
                                                <img class="card-img-top " [src]="item.images[0].url" alt="Card image">
                                            }
                                    </div>
                                    <div class="card-body text-light">
                                      <h3 class="card-title">{{item.name}}</h3>
                                      <p>Tipo de Album: {{item.album_type}}</p>
                                      <p>Fecha de Lanzamiento: {{item.release_date}}</p>
                            
                                      
                                    </div>
                                </div>
                            </div>
                }
                  
                    
                
        </div>        
        </div>
    </div>

}