
<nav class="navbar-dark navbar navbar-expand-lg fixed-top" style="background-color: #101214;">
    <a class="navbar-brand mx-2" href="#">
        <img src="..\..\..\..\assets\logon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Truchas San Ignacio
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" 
            routerLink="inicio"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        <a class="nav-item nav-link" 
            routerLink="mesas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Mesas</a>
        <a class="nav-item nav-link" 
            routerLink="facturas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Facturas</a>
        <a class="nav-item nav-link" 
            routerLink="consultas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Consultas</a>
        <a class="nav-item nav-link" 
            routerLink="cierre"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Cierre</a>
      </div>
    </div>
  </nav>
