@if (!IArtist) {
    <p>No hay ID de Artista</p>
}@else{
    @if (!CancionesA) {
        <p>No hay canciones</p>
    }@else{
    <div class="col" >
        <div style="
        padding: 20px;
        color: white;
        background: linear-gradient(to bottom, #1C395E, #191414);">

        <div class="container">
            <div class="row text-light">
                <div class="col-md-4 image-container d-flex justify-content-end align-items-center">
                
                    <img [src]="IArtist.images[1].url"  onerror="this.src='..\..\..\..\assets\rings.svg'" height="100%" width="100%" alt="Top50" class="img-fluid rounded-circle">
                            
                            
                        
                    
                    
                </div>
                <div class="col-md-8">
                <!-- Contenido en el lado derecho -->
                
                    <h1 class="display-1">{{IArtist.name}}</h1>
                
                    <p class="lead"><img src="..\..\..\..\assets\Logo.png" width="30" height="30" class="d-inline-block align-top"><a [href]="IArtist.external_urls.spotify" target="_blank" class="lead">Ir al sitio del artista</a></p>
                    <p>{{IArtist.followers.total| number:'1.0-0'}} Seguidores </p>
                    @for (genre of IArtist.genres; track $index) {
                        <span class="badge badge-primary bg-success m-1">{{genre}}</span>
                    }
                    <br>
                    <a class="stretched-link" [routerLink]="['/search/alb', IArtist.id]"><button class="btn btn-primary mt-2">Ver Albums</button></a>
        

                
            
                </div>
            </div>
        </div>
    </div>

    <div style="
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom, #191414, #1C395E);">
        <div class="container">
                <div class="row">
                    <div class="text-light col-12 pt-2">
                        <table class="table table-dark table_custom table-hover ">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Canción</th>
                                    <th scope="col">Album</th>
                                    <th scope="col">Escuchar</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of CancionesA.tracks; track $index) {
                                    <tr class="align-middle">
                                        <td>{{$index+1}}</td>
                                        
                                        <td>
                                            <img [src]="item.album.images[1].url" height="80" width="80" class="img-fluid rounded">
                                            
                                            
                                        </td>
                                        <td><h4>{{item.name}}</h4>@if (item.explicit) {
                                            <span class="badge badge-danger bg-secondary">E</span>
                                        }
                                            
                                            @for (artist of item.artists; track $index) {
                                                @if ($index === 0) {
                                                    <span class="badge badge-danger bg-success m-1">{{artist.name}}</span>
                                                }@else{
                    
                                                
                                                <span class="badge badge-primary bg-info m-1">{{artist.name}}</span>
                                                }
                                            }
                                        </td>
                                        <td>{{item.album.name}}<br>
                                            {{item.album.album_type}}
                                        </td>
                                        
                                        <td style="width: 30%" ><iframe [src]="getIframeUrl(item)" class="w-100" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>



}
}