<div class="fondo container-fluid mt-5">
    <div class="row">
      <!-- Columna 1 con tamaño 8 -->
      <div class="col-md-8">
        <div class="row align-items-end justify-content-center p-3 mb-3">
            
            <div class="col-md-3 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-light" disabled>Factura #100450685</button>
                
            </div>
            <div class="col-md-1">
                <label for="mesa" class="col-form-label text-end d-flex justify-content-end">Mesa:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-1">
                <select id="mesa" class="form-select">
                  <option selected>1</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select>
            </div>
            <div class="col-md-1">
                <label for="detalle" class="col-form-label text-end d-flex justify-content-end" style="text-align: right">Detalle:</label>        
            </div>
            <div class="col-md-4">
                <input type="text" id="detalle" class="form-control" placeholder="Ingresa un detalle">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" disabled>Abierta</button>
            </div>
            
            
          </div>
          <div class="row">
            <div class="col-md-2 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Salonero:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <select id="mesa" class="form-select">
                  <option selected>No asignado</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-md-10 justify-content-end mt-2">
            
    
            <!-- Lista (tabla) -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Código</td>
                        <td>Nombre del Artículo</td>
                        <td>1600</td>
                    </tr>
                    <tr>
                        <td>Código</td>
                        <td>Nombre del Artículo</td>
                        <td>2600</td>
                    </tr>
                    
                
                    <!-- Añade más filas según sea necesario -->
                    </tbody>
                </table>
          </div>

          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <button type="button" class="btn btn-outline-ligth" disabled>Items: 2</button>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-2 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Subtotal:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <input type="text" id="detalle" class="form-control" placeholder="0">
            </div>
          </div>
          <div class="row justify-content-end mt-1">
            <div class="col-md-2 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Servicio 10%:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <input type="text" id="detalle" class="form-control" placeholder="0">
            </div>
          </div>
          <div class="row justify-content-end mt-1">
            <div class="col-md-2 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Descuento %:</label>
                
            </div>
            <div class="col-md-3">
                <select id="mesa" class="form-select">
                  <option selected>N/A</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Descuento:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <input type="text" id="detalle" class="form-control" placeholder="0">
            </div>
          </div>
          <div class="row justify-content-end mt-4">
            <div class="col-md-2 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Total:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <input type="text" id="detalle" class="form-control" placeholder="0">
            </div>
          </div>
          <div class="row justify-content-end mt-4">
            <div class="col-md-3 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Trucha Cruda en Gramos:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <input type="text" id="detalle" class="form-control" placeholder="0">
            </div>
          </div>
          <div class="row justify-content-end mt-1">
            <div class="col-md-3 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Monto de Trucha Cruda:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <input type="text" id="detalle" class="form-control" placeholder="0">
            </div>
          </div>
          <div class="row justify-content-end mt-4">
            <div class="col-md-2 d-flex justify-content-end">
                <label for="mesa" class="col-form-label text-end" style="text-align: right;">Total con Trucha Cruda:</label>
                
            </div>
              <!-- Etiqueta y Selector -->
            <div class="col-md-3">
                <input type="text" id="detalle" class="form-control" placeholder="0">
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" disabled>Anular</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" disabled>Dividir</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-warning" disabled>Imprimir</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-secondary" disabled>Pagar</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-success" disabled>Guardar</button>
            </div>
          </div>
          
      </div>
      <!-- Columna 2 con tamaño 4 -->
      <div class="col-md-3">
            <br>
            <input type="text" class="form-control mb-3" placeholder="Buscar Productos">

        <!-- Lista (tabla) -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>1600</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>2600</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>5600</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>8600</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>9600</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>5400</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>Nombre del Artículo</td>
                    <td>6500</td>
                </tr>
                <tr>
                    
                </tr>
                <!-- Añade más filas según sea necesario -->
                </tbody>
            </table>
      </div>
    </div>
  </div>
  