<div class="fondo">
    <div class="container-fluid mt-5">
        <div class="row align-items-end bg-dark p-3 mb-3">
        <div class="col-md-3">
            <h1 class="display-6">Fecha Inicio:</h1>
            <input type="date" id="fechaInicio" class="form-control">
        </div>
        <div class="col-md-3">
            <h1 class="display-6">Fecha Fin:</h1>
            <input type="date" id="fechaFin" class="form-control">
        </div>
        <div class="col-md-3">
            <h1 class="display-6">Tipo:</h1>
            <select id="selector" class="form-control">
            <option value="opcion1">Todas</option>
            <option value="opcion2">Pagadas</option>
            <option value="opcion3">Abiertas</option>
            <option value="opcion2">Dividida</option>
            <option value="opcion3">Anulada</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success btn-block">Buscar</button>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                  <div class="table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Factura#</th>
                          <th scope="col">Mesa#</th>
                          <th scope="col">Detalle</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Fecha de Apertura</th>
                          <th scope="col">Hora de Apertura</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>100450694</td>
                          <td>7</td>
                          <td>Adrián</td>
                          <td>Pagada</td>
                          <td>14-4-2024</td>
                          <td>01:41</td>
                        </tr>
                        <tr>
                          <td>100450695</td>
                          <td>8</td>
                          <td> </td>
                          <td>Pagada</td>
                          <td>14-4-2024</td>
                          <td>01:56</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>27</td>
                            <td>Cliente B</td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>27</td>
                            <td>Cliente A</td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>27</td>
                            <td> </td>
                            <td>Dividida</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>4</td>
                            <td> </td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>34</td>
                            <td> </td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>12</td>
                            <td>Marta</td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>3</td>
                            <td></td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>9</td>
                            <td>Sofia</td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:33</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>32</td>
                            <td> </td>
                            <td>Pagada</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>33</td>
                            <td> </td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>4</td>
                            <td> </td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>1</td>
                            <td> </td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>11</td>
                            <td> </td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                        <tr>
                            <td>100450696</td>
                            <td>26</td>
                            <td> </td>
                            <td>Abierta</td>
                            <td>14-4-2024</td>
                            <td>02:05</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>