
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is a Bootstrap modal dialog. You can place any content here.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<div class="col" >     
    <div class="fondo">
              
                <div class="container-fluid mt-5">
                    <!---Fila 1-->
                    <div class="row justify-content-center">
        
                        
                        <div class="mesa">            
                                <div class="mx-auto">

                                    
                                    <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                        <img src="..\..\..\..\assets\numbers\24V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                               
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto">
                                <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                    <img src="..\..\..\..\assets\numbers\23V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                    </div>
                        <div class="mesa">            
                            <div class="mx-auto">
                                <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                    <img src="..\..\..\..\assets\numbers\22A.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa" style="border-right: 2px solid white">            
                                <div class="mx-auto">
                                    <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                        <img src="..\..\..\..\assets\numbers\21R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                            
                        </div>
                    
                        <div class="mesa">            
                            <div class="mx-auto squareM" >
                                <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                    <img src="..\..\..\..\assets\numbers\9R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa">            
                                <div class="mx-auto squareM">
                                    <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                        <img src="..\..\..\..\assets\numbers\10R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                            
                        </div>
                        <div class="mesa" style="border-left: 2px solid white">            
                            <div class="mx-auto squareM" >
                                <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                    <img src="..\..\..\..\assets\numbers\8R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas" data-toggle="modal" data-target="#exampleModal">
                                    <img src="..\..\..\..\assets\numbers\1A.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                    
                    
                        
                    </div>
        
        
                    <!---Fila 2-->
                    <div class="row justify-content-center">
        
                        
                        <div class="mesa">            
                                <div class="mx-auto">
                                    <a routerLink="/mesas">
                                        <img src="..\..\..\..\assets\numbers\25R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                               
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\26V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                    </div>
                        <div class="mesa">            
                            <div class="mx-auto">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\27V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa" style="border-right: 2px solid white">            
                                <div class="mx-auto">
                                    <a routerLink="/mesas">
                                        <img src="..\..\..\..\assets\numbers\28R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                            
                        </div>
                    
                        <div class="mesa">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                        
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa">            
                                <div class="mx-auto squareM" style="border-right: 2px solid white">
                                    <a routerLink="/mesas">
                                        
                                    </a>
                                </div>
                                            
                        </div>
                        <div class="mesa" style="border-left: 2px solid white">            
                            <div class="mx-auto squareM" >
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\7V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\2V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                    
                    
                        
                    </div>
        
                    <!---Fila 3-->
                    <div class="row justify-content-center">
        
                        
                        <div class="mesa" style="border-top: 2px solid white">            
                                <div class="mx-auto">
                                    <a routerLink="/mesas">
                                        <img src="..\..\..\..\assets\numbers\31V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                               
                        </div>
                        <div class="mesa" style="border-top: 2px solid white">            
                            <div class="mx-auto">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\32V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa" style="border-top: 2px solid white">            
                            <div class="mx-auto">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\33V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa" style="border-right: 2px solid white; border-top: 2px solid white">            
                                <div class="mx-auto">
                                    <a routerLink="/mesas">
                                    </a>
                                </div>
                                            
                        </div>
                    
                        <div class="mesa">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa">            
                                <div class="mx-auto squareM">
                                    <a routerLink="/mesas">
                                        <img src="..\..\..\..\assets\numbers\11V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                            
                        </div>
                        <div class="mesa" style="border-left: 2px solid white">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\6B.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\3V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                    
                    
                        
                    </div>
        
                    <!--Fila 4-->
                    <div class="row justify-content-center">
        
                        
                        <div class="mesa">            
                                <div class="mx-auto">
                                    <a routerLink="/mesas">
                                        <img src="..\..\..\..\assets\numbers\34V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                               
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\35R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto">
                                <a routerLink="/mesas">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa" style="border-right: 2px solid white">            
                                <div class="mx-auto">
                                    <a routerLink="/mesas">
                                    </a>
                                </div>
                                            
                        </div>
                    
                        <div class="mesa">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\0V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                           
                        </div>
                        <div class="mesa">            
                                <div class="mx-auto squareM">
                                    <a routerLink="/mesas">
                                        <img src="..\..\..\..\assets\numbers\12A.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                                            
                        </div>
                        <div class="mesa" style="border-left: 2px solid white">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\5R.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                        <div class="mesa">            
                            <div class="mx-auto squareM">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\numbers\4V.png" width="90%" height="90%" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                                        
                        </div>
                    
                    
                        
                    </div>
                    
                </div>
    </div>
</div>
    
    



