        <div class="fondo align-items-center">
                    
            <div class="container-fluid align-items-center mt-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-sm-6 col-xs-6 col-lg-4 text-center column">
                        
                        
                        
                            
                            <div class="mx-auto square">
                                <a routerLink="/mesas">
                                    <img src="..\..\..\..\assets\mesas.png" width="200" height="200" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                            <h1 class="display-6">Mesas</h1>
                        
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 col-xs-6 col-lg-4 text-center column">
                        <div class="mx-auto square"><h1 class="display-6">
                            <a routerLink="/facturas">
                            <img src="..\..\..\..\assets\facturas.png" width="200" height="200" class="d-inline-block align-top" alt="">
                            </a>
                        </h1></div>
                        <h1 class="display-6">Facturas</h1>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 col-xs-6 col-lg-4 text-center column">
                        <div class="mx-auto square"><h1 class="display-6">
                            <a routerLink="/productos">
                            <img src="..\..\..\..\assets\inventario1.png" width="200" height="200" class="d-inline-block align-top" alt="">
                            </a>
                        </h1></div>
                        <h1 class="display-6">Gestión Productos</h1>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 col-xs-6 col-lg-4 text-center column">
                            <div class="mx-auto square"><h1 class="display-4">
                                <a routerLink="/personal">
                            <img src="..\..\..\..\assets\personal.png" width="200" height="200" class="d-inline-block align-top" alt="">
                        </a>
                        </h1></div>
                        <h1 class="display-6">Gestión Personal</h1>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 col-xs-6 col-lg-4 text-center column">
                        <div class="mx-auto square"><h1 class="display-4">
                            <a routerLink="/consultas">
                            <img src="..\..\..\..\assets\consultas.png" width="200" height="200" class="d-inline-block align-top" alt="">
                        </a>
                        </h1></div>
                        <h1 class="display-6">Consultas</h1>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 col-xs-6 col-lg-4 text-center column">
                        <div class="mx-auto square"><h1 class="display-4">
                            <a routerLink="/cierre">
                            <img src="..\..\..\..\assets\cierre.png" width="200" height="200" class="d-inline-block align-top" alt="">
                        </a>
                        </h1></div>
                        <h1 class="display-6">Cierre</h1>
                    </div>
                </div>
            </div>
        </div>
        
        



