<div class="fondo">
    <div class="container-fluid mt-5">
        <div class="row align-items-end justify-content-center p-3 mb-3">
        <div class="col-md-1">
            <button type="button" class="btn btn-success btn-block">Agregar</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-success btn-block">Eliminar</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-success btn-block">Modificar</button>
        </div>
        
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                  <div class="table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th  scope="col">Código</th>
                          <th  scope="col">Producto</th>
                          <th  scope="col">Precio</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>10568</td>
                          <td>Producto01</td>
                          <td>1200</td>
                          
                        </tr>
                        <tr>
                            <td>10667</td>
                            <td>Producto02</td>
                            <td>1200</td>
                            
                          </tr>
                          <tr>
                            <td>10236</td>
                            <td>Producto03</td>
                            <td>1200</td>
                            
                          </tr>
                          <tr>
                            <td>102488</td>
                            <td>Producto04</td>
                            <td>1200</td>
                            
                          </tr>
                          <tr>
                            <td>19751</td>
                            <td>Producto05</td>
                            <td>1200</td>
                            
                          </tr>
                          <tr>
                            <td>14556</td>
                            <td>Producto06</td>
                            <td>1200</td>
                            
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>