
<div class="col" >
    <div style="
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom, #1C395E, #191414);">

    <div class="container">
        <div class="row text-light">
            <div class="col-md-4 image-container d-flex justify-content-end align-items-center">
            
               
            </div>
            <div class="col-md-8 d-flex align-items-left justify-content-center flex-column">
            <!-- Contenido en el lado derecho -->
            
                <h1 class="display-1">TOP 50 GLOBAL</h1>
                <h4 class="lead">{{CancionesA?.tracks}}</h4>
                <p class="lead"><img src="..\..\..\..\assets\Logo.png" width="30" height="30" class="d-inline-block align-top">jjjjj</p>
            
            
        
                </div>
            </div>
        </div>
    </div>

    <div style="
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom, #191414, #1C395E);">
        <div class="container">
                <div class="row">
                    <div class="text-light col-12 pt-2">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>






